### LaTeX (Created by https://www.gitignore.io/api/latex) ###
*.acn
*.acr
*.alg
*.aux
*.bbl
*.bcf
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.run.xml
*.snm
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.thm
*.toc
*.vrb
*.xdy
*.tdo
*-eps-converted-to.pdf
.DS_Store

# build result
*.pdf
*.xmpi
